services:
  postgres:
    image: postgres:15
    container_name: rb-postgres
    environment:
      POSTGRES_USER: rb
      POSTGRES_PASSWORD: rb
      POSTGRES_DB: benchmark
    ports: ["5432:5432"]
    volumes:
      - ../db:/docker-entrypoint-initdb.d
      - C:\Users\PC\rest-benchmark\db-export:/export
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U rb -d benchmark"]
      interval: 5s
      timeout: 5s
      retries: 10

  influxdb:
    image: influxdb:2.7
    container_name: rb-influx
    ports: ["8086:8086"]
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: admin
      DOCKER_INFLUXDB_INIT_PASSWORD: adminadmin
      DOCKER_INFLUXDB_INIT_ORG: perf
      DOCKER_INFLUXDB_INIT_BUCKET: jmeter
      DOCKER_INFLUXDB_INIT_RETENTION: 7d

  prometheus:
    image: prom/prometheus:latest
    container_name: rb-prometheus
    ports: ["9090:9090"]
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro

  grafana:
    image: grafana/grafana:10.4.0
    container_name: rb-grafana
    ports: ["3000:3000"]
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
