server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/benchmark
    username: rb
    password: rb
    hikari:
      minimum-idle: 10
      maximum-pool-size: 20
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate.jdbc.batch_size: 50
      hibernate.order_inserts: true
      hibernate.order_updates: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
    tags:
      application: api-spring-mvc
